<form #form="ngForm" [formGroup]="form_user_update" (ngSubmit)="onSubmit(form_user_update.value,form_user_update.valid)">

    <div class="form-row">
        <div class="form-group col-md-12" style="margin-top: 10px;">
            <label class="form-label" for="attu_username"><H5>Nombre de usuario</H5></label>
            <input type="text" step="1" class="form-control" id="attu_username" formControlName="username" required>
        </div>
        <div class="form-group col-md-12" style="margin-top: 10px;">
            <label class="form-label" for="attu_password"><H5>Contraseña</H5></label>
            <input type="password" step="1" class="form-control" id="attu_password" formControlName="password">
        </div>
        <div class="form-group col-md-12" style="margin-top: 10px;">
            <label class="form-label" for="attu_validated_password"><H5>Confirmar contraseña</H5></label>
            <input type="password" step="1" class="form-control" id="attu_validated_password" formControlName="validated_password">
        </div>
        <div class="form-actions col-md-12">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!form_user_update.valid">{{'Cambiar'}}</button>
        </div>
    </div>

</form>